<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>

    <table>
      <tr>
        <%= wicked_pdf_image_tag 'logo.png'  %>
      </tr>
    </table>



</body>
</html>